*
{
	padding: 0px;
	margin: 0px;
	margin-left: 3px;
	font-family: 'Raleway', Verdana, Arial, sans-serif;
	color: black;
	font-weight: 500;
	margin-bottom: 10px;
}

html
{
	display: flex;
}

body
{
	display: flex;
	flex-direction: column;
	width: auto;
}

.logo
{
	padding-left: 30px;
	padding-top: 25px;
	padding-bottom: 10px;
	width: 12%;
}


h1
{
	font-size: 31px;
	margin-bottom: 8px;
	margin-left: 6px;	
}

.slogan
{
	margin-left: 11px;
}

p
{
	margin-left: 7px;
	margin-bottom: 8px;
	font-size: 22px;
}


strong
{
	font-weight: 700;
}

header
{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.en_tete
{
	display:flex;
	justify-content: space-between;
}
nav
{

	margin-left: 0px;
	margin-top: 60px;
    font-size: 20px;
    margin-right: 60px;
	padding-right: 0px;
}

nav a:hover
{
	color: #0065FC;
}

.nav_hebergements
{
    padding: 40px;
    border-top: 2px solid #0065FC;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 50px;
    color: #0065FC;
}


#position
{	
	background-color: #F2F2F2;
	padding: 25px;
	border-radius: 25px 0px 0px 25px;
	float: left;
	font-size: 150%;
}


#recherche
{
	font-weight: 700;
	height: 35px;
	border : none;
	border-top : 2px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;
	padding-left: 20px;
	padding-top: 19px;
	padding-bottom: 16px;
	margin-left: 0px;
	width: auto;
	font-size: 25px;

}

#submit
{
	border: none;
	color: white;
	background-color: #0065FC;
	padding-top: 23px;
	padding-bottom: 22px;
	padding-right: 25px;
	border-radius: 0px 15px 15px 0px;
	padding-left: 20px;
	margin-left: 0px;
	float: right;
	font-weight: 600;
	font-size: 24px;
}

#search
{
	width: max-content;
	margin-top: 30px;
	margin-bottom: 35px;
}

#filtres
{
	margin-left: 20px;
    padding: 0px;
	display: flex;
	flex-direction: column;
    width: auto;
	font-size: 25px;
}

#filtres_mobile
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 30px;
	margin-right: 600px;
}

.filtres
{
	font-size: 25px;
	padding-top: 22px;
}

.economique, .familial, .romantique, .animaux
{
	border-top: 3px solid #F2F2F2;
	border-right: 3px solid #F2F2F2;
	border-bottom: 3px solid #F2F2F2;
	border-radius: 70px 70px 70px 70px;
	margin: 0px;
	padding-right: 30px;
	width: auto;
}

#img_billet, #img_bonhomme, #img_hearth, #img_dog
{
	border-radius: 70px 70px 70px 70px;
	padding-top: 16px;
	padding-bottom: 15px;
	margin: 0px;
	background-color: #DEEBFF;
	padding: 20px;
	margin-right: 10px;
	color: #0065FC;
	font-size: 28px;
}

#filtres a
{
    transition: background-color 2s, border-radius 1s;
}

#filtres a:hover
{
    background-color: #0065FC;
    border-radius: 70px 70px 70px 70px;
    color: white;
}

a
{
	text-decoration: none;
}

#img_info
{
    border: 2px solid #F2F2F2;
    border-radius: 100% 100% 100% 100%;
    padding: 12px;
    font-size: 18px;
    color: #0065FC;
    margin-right : 20px;
    margin-bottom: 0px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
	margin-top: -10px;
}

#disponibilite
{
	display: flex;
	margin-top: 50px;
}

section h2
{
	width: 100%;
	font-size: 28px;
	margin-left: 30px;
}

div + h2
{
	margin-left: 90px;
	margin-top: 70px;
	margin-bottom: 20px;
}

#heb
{
	display: flex;
	margin-left: 10px;
}

#hebergements
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	padding-top: 60px;
	border-radius: 30px 30px 30px 30px;
	width: 90%;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
	justify-content: space-around;
}

#ligne_1
{
	display: flex;
	justify-content: space-between;
}

#ligne_2
{
	display: flex;
	justify-content: space-between;
}

.photo_hebergements
{
	width: 100%;
	margin-top: -30px;
	margin-left: 0px;
}

.conteneur_photo
{
	width: 300px;
	height: 140px;
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
	margin-right: 10px;
    margin-top: -10px;
}

.hebergements
{	
	background-color: white;
	height: 250px;
	padding-left: 7px;
	border-radius: 30px 30px 30px 30px;
	margin-bottom: 30px;
	margin-bottom: 40px;
	box-shadow: 5px 5px 10px #E8E4E4;
}

.stars
{
	margin-bottom: -1px;
	margin-left: 18px;
}

article p
{
	margin-left: 20px;
	font-size: 18px;
}

h4
{
	margin-left: 18px;
	font-size: 20px;
	margin-bottom: 5px;
}

#stars
{
	color: #0065FC;
}

#stars_empty
{
	color: #E8E4E4;
}

.afficher
{
	width: 100%;
	display: flex;
	justify-content: left;
	margin-left: 35px;
    padding-bottom: 40px;
}

#photo_amina
{
	margin-top: -150px;
}

#fleche
{
	width: 10%;

	margin : 0px;
	padding: 0px;
	margin-right: 25px;

}

aside
{
    background-color: #F2F2F2;
    width: auto;
    display: flex;
    flex-direction: column;
	justify-content: center;
    border-radius: 30px 30px 30px 30px;
    margin-left: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
	margin-right: 50px;
}



.photo_populaires
{
    width: 280px;
    height: 200px;
    border-radius: 20px 0px 0px 20px;
    margin-left: -60px;
}

.conteneur_photo_populaire
{
    width: 160px;
    height: 170px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

aside article
{
    display: flex;
	padding-right: 50px;

}

#photo_bleuBlanc
{
    margin-top: -20px;
    margin-left: 0px;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

#hotel_bleu
{
	display: flex;
	flex-direction: column;
}

#populaires
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	width: auto;
	height: auto;

}

.populaires
{
    background-color: white;
	padding-top: auto;
	margin-bottom: auto;
	margin-top: auto;
	padding-left: 10px;
    border-radius: 30px 30px 30px 30px;
	display: flex;
    align-items: center;
	justify-content: space-between;
    width: auto;
    margin: 20px;
    box-shadow: 5px 5px 10px #E8E4E4;
}


.populaires_chambre
{
    background-color: white;
	padding-top: 10px;
	padding-left: 10px;
    border-radius: 30px 30px 30px 30px;
    align-items: center;
    width: auto;
    margin: 20px;
    box-shadow: 5px 5px 10px #E8E4E4;
	margin-bottom: auto;
	margin-top: auto;
}

#titre_aside
{
	margin-left: 20px;
	display: flex;
	justify-content: space-between;

}

.conteneur_photo_chambre
{
    width: 160px;
    height: 170px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
	display: flex;
}

#activites
{
	display: flex;
	justify-content: space-around;
	margin-left: 40px;
	margin-right: 40px;
}

#vieux_port
{
	width: 750px;
	margin-left: -200px;
}

#conteneur_vieux_port
{
	width: 350px;
	height: 470px;
	overflow: hidden;
	border-radius: 20px 20px 0px 0px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.activites
{
	border-radius: 30px 30px 30px 30px;
	box-shadow: 5px 5px 10px #E8E4E4;
	padding-bottom: 10px;
}

#pomegues
{
	margin-top: -140px;
	margin-left: 0px;
	width: 330px;
}

#conteneur_pomegues
{
	height: 200px;
	width: 330px;
	overflow: hidden;
	border-radius: 20px 20px 0px 0px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.activites_column
{
	box-shadow: 5px 5px 10px #E8E4E4;
	border-radius: 30px 30px 30px 30px;
	width: min-content;
	height: min-content;
	padding-bottom: 10px;
	margin: 20px;

}

#conteneur_frioul
{
	overflow: hidden;
	border-radius: 20px 20px 0px 0px;
	width: 330px;
	height: 150px;
	margin-top: -20px;
	margin-bottom: 20px;
}

#frioul
{
	margin-top: -10px;
	margin-left: 0px;
	width: 330px;
}

#column
{	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#calanques
{
	width: 700px;
	margin-left: -200px;
}

#conteneur_calanques
{
	width: 350px;
	overflow: hidden;
	margin-top: -20px;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 10px;
}

#la_garde
{
	width: 330px;
	margin: 0px;
	margin-top: -10px;
}

#conteneur_la_garde
{
	width: 330px;
	height: 150px;
	overflow: hidden;
	margin-top: -20px;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 20px;
}

#longchamp
{
	width: 330px;
	margin-top: -20px;
	border-radius: 20px 20px 0px 0px;
}



footer p
{
    font-size: 19px;
}

h3
{
	font-size: 20px;
}

footer
{
    background-color: #F2F2F2;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

ul
{
	list-style-type: none;
}

@media all and (max-device-width: 767px)
{


	body
	{
		display: flex;
		flex-direction: column;
		width: auto;
		margin: auto;
	}
	

	p
	{
		font-size: 30px;
	}

	.logo
	{
		width: 25%;
		margin: 20px;
		margin-bottom: 50px;
	}

	header
	{
		width: auto;
		margin: auto;
	}

	.en_tete
	{
		flex-direction: column;
		display: flex;
		align-items: center;
	}

	nav
	{
		display:flex;
		margin: 0px;
		border-top-style: none;
		width: 100%;
		font-size: 55px;
		justify-content: space-around;
	}

	nav a
	{
		display: flex;
		align-items: center;
	}

	.nav_hebergements, .nav_activites
	{
		border: none;
		margin: 0px;
		padding: 10px;
		margin-bottom: 50px;
	}

	.nav_hebergements
	{
		justify-content: center;
		border-bottom: 5px solid #0065FC;
		width: 50%;
	}

	.nav_activites
	{
		width: 50%;
		justify-content: center;
		border-bottom: 5px solid #F2F2F2;
	}

	main
	{
		width: auto;
		flex-direction: column;
	}

	#heb
	{
		flex-direction: column;
	}

	section
	{
		width: auto;
		flex-direction: column;
	}
	
	h1
	{
		text-align: center;
		font-size: 50px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.slogan
	{
		margin-left: 20px;
		margin-right: 20px;
		font-size: 40px;
		text-align: center;
		margin-bottom: 80px
	}

	#search
	{
		width: auto;
		display: flex;
		justify-content: center;
		margin-right: 0px;
		margin-bottom: 50px;
	}

	#position
	{
		width: auto;
		font-size: 50px;
		text-align: center;
		padding: 35px;
		border-radius: 40px 0px 0px 40px;
	}

	#recherche
	{

		width: auto;
		height: 77px;
		margin-right: 0px;
		margin-left: 0px;
		font-size: 45px;
	}

	#submit
	{
		height: 115px;
		font-size: 40px;
	}
	
	#filtres
	{
		display: flex;
		flex-direction: column;
		width: auto;
	}

	.filtres
	{
		font-size: 48px;
		margin-left: 30px;
		margin-bottom: 20px;
	}

	#filtres_mobile
	{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0px;	
		margin-right: 50px;
	}

	.economique, .familial, .romantique, .animaux
	{
		font-size: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 30px;
		margin-bottom: 20px;
		padding-right: 60px;
	}

	#img_billet, #img_bonhomme, #img_hearth, #img_dog
	{
		font-size: 50px;
		padding: 30px;
	}

	#img_info
	{
		padding-right: 25px;
		padding-left: 25px;
		font-size: 35px;
		margin-bottom: 50px;
		margin-right: 20px;
	}

	#disponibilite
	{
		margin-left: 60px;
		margin-bottom: 60px;
		margin-right: 40px;
	}

	#disponibilite p
	{
		font-size: 40px;
	}

	aside
	{
		width: auto;
		margin-right: 60px;
		border-radius: 0px 0px 0px 0px;
	}

	aside h2
	{
		margin-left: 40px;
		font-size: 55px;

	}

	#fleche
	{
		width: 8%;
		height: 8%;
	}

	.populaires
	{
		width: auto;
		border-radius: 60px 60px 60px 60px;
	}

	.conteneur_photo_populaire
	{
		width: 400px;
		height: 340px;
		border-radius: 40px 0px 0px 40px;
	}

	.photo_populaires
	{
		width: 400px;
		height: 340px;
	}

	aside .populaires p
	{
		font-size: 35px;
		margin-left: -20px;
		margin-right: 20px;
		margin-bottom: 150px;
	}

	h4
	{
		font-size: 40px;
		margin-top: 20px;
		margin-left: -20px;
		margin-right: 20px;
	}

	.stars
	{
		font-size: 30px;
		margin-left: 0px;
		margin-bottom: -140px;
		padding-bottom: 0px;
		margin-left: -20px;
	}

	.conteneur_photo_chambre
	{
		width: auto;
		height: 340px;
		margin-bottom: -10px;
		background-color: yellow;
		margin-right: 50px;
		border-radius: 40px 0px 0px 40px;
	}

	.populaires_chambre
	{
		background-color: white;
		padding: 10px;
		border-radius: 30px 30px 30px 30px;
		align-items: center;
		width: auto;
		box-shadow: 5px 5px 10px #E8E4E4;
		padding: 13px;
		padding-right: 70px;
		border-radius: 60px 60px 60px 60px;
	}

	.populaires_chambre p
	{
		font-size: 35px;
		margin-left: -18px;
		margin-bottom: 140px;
	}

	#photo_bleuBlanc
	{
		width: auto;
		height: 510px;
		margin-top: -120px;
	}

	#hebergements
	{
		background-color: white;
		width: 820px;
		margin-top: 50px; 
		margin-left: 50px;
	}

	#ligne_1
	{
		flex-direction: column;
	}

	#ligne_2
	{
		flex-direction: column;
	}

	section h2
	{
		font-size: 55px;
	}

	.conteneur_photo
	{
		width: 820px;
		height: 300px;
		margin-left: 20px;
		margin-top: -3px;
		border-radius: 40px 40px 0px 0px;
		overflow: hidden;
		margin-right: 20px;
	}

	.hebergements
	{
		width: max-content;
		height: 500px;
		margin: 0px;
		padding: 0px;
		box-shadow: 5px 5px 40px #DEDFE0 !important;
		border-radius: 60px 60px 60px 60px;
		margin-bottom: 40px;
	}

	.photo_hebergements
	{
		margin-top: -120px;
	}

	#hebergements h4
	{
		margin-left: 40px;
	}

	#hebergements p
	{
		font-size: 35px;
		margin-left: 40px;
	}

	#hebergements .stars
	{
		margin-left: 40px;
	}

	#heb
	{
		display: flex;
		flex-direction: column-reverse;
	}

	h2
	{
		margin-bottom: 40px;
		margin-top: 10px;
	}

	#photo_amina
	{
		margin-top: -450px;
	}

	div + h2
	{
		font-size: 55px;
		margin-bottom: 40px;
	}

	#activites
	{
		width: auto;
		height: auto;
		margin-right: 30px;
		margin-left: 30px;
	}

	#conteneur_pomegues, #conteneur_frioul, #conteneur_la_garde, #conteneur_longchamp, #conteneur_calanque
	{
		display: flex;
		width: auto;
		height: 300px;
		overflow: hidden;
	}

	#vieux_port
	{
		width: 950px;
		height: 700px;
		margin-top: -150px;
		margin-left: 0px;
		background-color: yellow;
	}

	#conteneur_vieux_port
	{
		width: 930px;
		display: flex;
		height: 300px;
		margin-right: 0px;
		background-color: yellow;
	}

	.activites, .activites_column
	{
		border-radius: 60px 60px 60px 60px;
		padding-bottom: 40px;
		overflow: hidden;
		box-shadow: 5px 5px 40px #DEDFE0 ;
		margin-bottom: 40px !important;
		width: auto;
		display: flex;
		flex-direction: column;
	}

	#activites h4
	{
		margin-left: 30px;
		margin-top: 30px;
	}

	#pomegues
	{
		width: 905px;
		height: 1400px;
		margin-top: -500px;
	}

	#frioul
	{
		width: 905px;
		height: 650px;
		margin-top: -150px;
	}

	#calanques
	{
		width: auto;
		height: 300px;
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 0px;
	}

	#conteneur_calanque
	{
		background-color: yellow;
		width: 500px !important;
		margin: 0px;
		height: 100px !important;
		padding: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-left: 0px;
		border-radius: 0px 0px 0px 0px;
		display: flex;
	}

	#la_garde
	{
		width : 905px;
		height: 600px;
		margin-top: -50px;
	}

	#longchamp
	{
		width: 902px;
		height: 500px;
		margin-top: -50px;
	}

	footer
	{
		display: flex;
		flex-direction: column;
		margin-left: 50px;
		margin-right: 40px;
	}

	ul
	{
		margin-left: 40px;
		margin-bottom: 20px;
		font-size: 30px;
	}

	li
	{
		font-size: 20px;
	}

	h3
	{
		font-size: 30px;
		margin-bottom: 40px;
		margin-top: 60px;
	}
}

@media all and (max-device-width: 992px) and (min-device-width: 768px)
{
	body
	{
		display: flex;
		flex-direction: column;
		margin: auto;
	}

	p
	{
		font-size: 30px;
	}

	main
	{
		width: auto;
		margin: auto;
	}



	.logo
	{
		width: 18%;
		margin-bottom: 50px;
		margin-left: 40px;
	}

	nav
	{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -20px;
		font-size: 30px;
		margin-right: 80px;
	}

	h1
	{
		text-align: center;
		font-size: 40px;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.slogan
	{
		text-align: center;
		font-size: 35px;
	}

	#search
	{
		display: flex;
		justify-content: center;
		width: auto;
		margin-top: 100px;
	}

	.filtres
	{
		font-size: 30px;
		margin-left: 40px;
		margin-bottom: 20px;
	}

	#filtres_mobile
	{
		width: auto;
		display: flex;
		justify-content: space-around;
		margin-right: 40px;
	}

	#disponibilite
	{
		margin-left: 60px;
	}

	aside
	{
		display: flex;
		flex-direction: column;
	}

	#populaires
	{
		display: flex;
	}

	#titre_aside
	{
		margin-left: 0px;
		display: flex;
		justify-content: space-between;
		width: auto;
	}

	#fleche
	{
		width: 3%;

	}

	aside h2
	{
		font-size: 35px;
	}

	aside
	{
		margin-top: 50px;
		margin-bottom: 80px;
	}
	#populaires
	{
		flex-direction: row;
	}




	header
	{
		width: auto;
	}

	#heb
	{
		width: auto;
		display: flex;
		flex-direction: column-reverse;
	}

	html
	{
		display: flex;
	}


}